.item {
    position: relative;
    width: 100%;
}
.text::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    /* left: 100px; */
    transform: translateX(-50%);
    background-color: red;
}